<html>

<header>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/master.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</header>

<body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">DHotels</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
              {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link disabled"> Welcome {{ current_user.name }} !</a>
                  <a class="nav-item nav-link " href="{{ url_for('auth.signout') }}">sign out</a>
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('auth.signin') }}">Sign in</a>
              <a class="nav-item nav-link" href="{{ url_for('auth.signup') }}">Sign up</a>
              {% endif %}
            </div>
          </div>
        </nav>
    {% endblock %}

    <div class="container">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
            {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
            {% endif %}
            {% if category == "success" %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
            {% endif %}
            {% if category == "message" %}
            <div class="alert alert-secondary" role="alert">
                {{ msg }}
            </div>
            {% endif %}
        {% endfor %}

        {% block main %}
        {% endblock %}

    </div>

    <div class="container">
        <footer class="blockquote-footer">
            Made by itworks bootcamp. All right reserved.
        </footer>
    </div>
</body>

</html>
