{% extends "base.html" %}

{% block main %}
    <h1> Locations </h1>
    {% for hotel in hotel_locations %}
    <br><br>
    {% set current_id = hotel['id'] %}
<div>
    <h2> {{hotel['name'] }} </h2>
<div class="row">
<div class="col-sm-6">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{hotel['image1'] }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{hotel['image2'] }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Loby</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{hotel['image3'] }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
             
            </div>
          </div>
          <div class="carousel-item" id>
            <img src="{{hotel['image4'] }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Room</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="col-sm-2">
</div>
<div class="col-sm-4">
    <br><br>
    <div style="text-align: center">
    <img src="https://icon-library.com/images/star-rating-icon/star-rating-icon-21.jpg" width="{{ 300 }}" height="{{ 70 }}"/>
    <br><br>
    <h3>Price for night:</h3>
    <h4 style="color:green">{{hotel['price'] }}$</h4>
    <br>
    <a type="button" class="btn btn-secondary btn-lg" href="{{ url_for('users.reserve', hotel_id=current_id, user_id = current_user.id )}}" >Reserve Now</a>
</div>
</div>
</div>
    {% endfor %}
{% endblock %}


