{% extends "base.html" %}

{% block main %}
    <h1> Your Reservations</h1>
 
    <br><br>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Reservation</th>
            <th scope="col">Hotel</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
      
        {% for reservation in user_reservations %}
          {% set days = reservation.end_date - reservation.start_date %}
          {% set price_ = days.days * reservation.hotel.price %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{reservation.hotel.name}}</td>
            <td>{{reservation['start_date'] }}</td>
            <td>{{reservation['end_date'] }}</td>
            <td>{{price_}}$</td>
          </tr>
         
          {% endfor %}
        </tbody>
      </table>



    
{% endblock %}
